## Graduation Rate New York State 2022
### 01.Import Libraries
### 02.Import Data
### 03.Data Quality check
#### 3a.Remove duplicates
#### 3b.Missing values
#### 3c.Dropping unnecessary columns
#### 3d.Renaming columns
#### 3e.Convert data types
### 04. Export data

# 01. Import Library

In [25]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [26]:
path = r'/Users/maitran/Documents/Grad Rate NY 2022'

In [57]:
# Import original data
df= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'GRAD_RATE_AND_OUTCOMES_2022.csv'), index_col = False)

/var/folders/y2/dchd2q8n46v5x913n10wj3ph0000gn/T/ipykernel_46444/3448221096.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'GRAD_RATE_AND_OUTCOMES_2022.csv'), index_col = False)

# 03. Data Quality Check

In [28]:
# Check for data's columns and rows
df

,report_school_year,aggregation_index,aggregation_type,aggregation_code,aggregation_name,lea_beds,lea_name,nrc_code,nrc_desc,county_code,...,reg_adv_cnt,reg_adv_pct,non_diploma_credential_cnt,non_diploma_credential_pct,still_enr_cnt,still_enr_pct,ged_cnt,ged_pct,dropout_cnt,dropout_pct
0,2021-22,0,Statewide,0.000000e+00,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,80908,39%,2058,1%,4664,2%,1746,1%,15088,7%
1,2021-22,0,Statewide,0.000000e+00,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,36656,34%,1370,1%,3081,3%,1046,1%,9642,9%
2,2021-22,0,Statewide,0.000000e+00,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,44252,44%,688,1%,1583,2%,700,1%,5446,5%
3,2021-22,0,Statewide,0.000000e+00,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,78902,46%,38,0%,1848,1%,1250,1%,10737,6%
4,2021-22,0,Statewide,0.000000e+00,All Districts and Charters,NaN,NaN,NaN,NaN,NaN,...,2006,6%,2020,6%,2816,8%,496,1%,4351,13%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221861,2021-22,4,School,6.808010e+11,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,6.808010e+11,DUNDEE CENTRAL SCHOOL DISTRICT,4.0,Rural High Needs,68.0,...,3,8%,3,8%,0,0%,0,0%,7,18%
221862,2021-22,4,School,6.808010e+11,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,6.808010e+11,DUNDEE CENTRAL SCHOOL DISTRICT,4.0,Rural High Needs,68.0,...,-,-,-,-,-,-,-,-,-,-
221863,2021-22,4,School,6.808010e+11,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,6.808010e+11,DUNDEE CENTRAL SCHOOL DISTRICT,4.0,Rural High Needs,68.0,...,-,-,-,-,-,-,-,-,-,-
221864,2021-22,4,School,6.808010e+11,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,6.808010e+11,DUNDEE CENTRAL SCHOOL DISTRICT,4.0,Rural High Needs,68.0,...,3,8%,3,8%,0,0%,0,0%,7,18%
221865,2021-22,4,School,6.808010e+11,DUNDEE JUNIOR-SENIOR HIGH SCHOOL,6.808010e+11,DUNDEE CENTRAL SCHOOL DISTRICT,4.0,Rural High Needs,68.0,...,3,8%,3,8%,0,0%,0,0%,7,18%

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221866 entries, 0 to 221865
Data columns (total 36 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   report_school_year          221866 non-null  object
 1   aggregation_index           221866 non-null  int64
 2   aggregation_type            221866 non-null  object
 3   aggregation_code            221866 non-null  float64
 4   aggregation_name            221866 non-null  object
 5   lea_beds                    140036 non-null  float64
 6   lea_name                    140036 non-null  object
 7   nrc_code                    213702 non-null  float64
 8   nrc_desc                    213702 non-null  object
 9   county_code                 220768 non-null  float64
 10  county_name                 220768 non-null  object
 11  nyc_ind                     220768 non-null  float64
 12  boces_code                  212746 non-null  float64
 13  boces_name                  212746 non-null  object
 14  membership_code             221866 non-null  int64
 15  membership_key              221866 non-null  int64
 16  membership_desc             221866 non-null  object
 17  subgroup_code               221866 non-null  int64
 18  subgroup_name               221866 non-null  object
 19  enroll_cnt                  221866 non-null  int64
 20  grad_cnt                    221866 non-null  object
 21  grad_pct                    221866 non-null  object
 22  local_cnt                   221866 non-null  object
 23  local_pct                   221866 non-null  object
 24  reg_cnt                     221866 non-null  object
 25  reg_pct                     221866 non-null  object
 26  reg_adv_cnt                 221866 non-null  object
 27  reg_adv_pct                 221866 non-null  object
 28  non_diploma_credential_cnt  221866 non-null  object
 29  non_diploma_credential_pct  221866 non-null  object
 30  still_enr_cnt               221866 non-null  object
 31  still_enr_pct               221866 non-null  object
 32  ged_cnt                     221866 non-null  object
 33  ged_pct                     221866 non-null  object
 34  dropout_cnt                 221866 non-null  object
 35  dropout_pct                 221866 non-null  object
dtypes: float64(6), int64(5), object(25)
memory usage: 60.9+ MB

In [31]:
# Convert columns to numeric
columns_to_convert = ['aggregation_code', 'lea_beds', 'nrc_code', 'county_code', 'nyc_ind', 'boces_code',
                      'membership_desc', 'subgroup_code', 'enroll_cnt', 'grad_cnt', 'local_cnt',
                      'reg_cnt', 'reg_adv_cnt', 
                      'non_diploma_credential_cnt', 'still_enr_cnt',
                     'ged_cnt', 'dropout_cnt']

In [32]:
df[columns_to_convert] = df[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [33]:
# Check the updated data types
print(df.dtypes)

report_school_year             object
aggregation_index               int64
aggregation_type               object
aggregation_code              float64
aggregation_name               object
lea_beds                      float64
lea_name                       object
nrc_code                      float64
nrc_desc                       object
county_code                   float64
county_name                    object
nyc_ind                       float64
boces_code                    float64
boces_name                     object
membership_code                 int64
membership_key                  int64
membership_desc               float64
subgroup_code                   int64
subgroup_name                  object
enroll_cnt                      int64
grad_cnt                      float64
grad_pct                       object
local_cnt                     float64
local_pct                      object
reg_cnt                       float64
reg_pct                        object
reg_adv_cnt                   float64
reg_adv_pct                    object
non_diploma_credential_cnt    float64
non_diploma_credential_pct     object
still_enr_cnt                 float64
still_enr_pct                  object
ged_cnt                       float64
ged_pct                        object
dropout_cnt                   float64
dropout_pct                    object
dtype: object

In [37]:
import numpy as np

columns_to_convert = ['grad_pct', 'local_pct', 'reg_pct', 'reg_adv_pct', 'non_diploma_credential_pct',
                      'still_enr_pct', 'ged_pct', 'dropout_pct']

df.loc[:, columns_to_convert] = df.loc[:, columns_to_convert].apply(lambda x: pd.to_numeric(x.str.rstrip('%').replace('-', np.nan), errors='coerce')).fillna(0)

In [38]:
df.describe()

,aggregation_index,aggregation_code,lea_beds,nrc_code,county_code,nyc_ind,boces_code,membership_code,membership_key,membership_desc,...,reg_adv_cnt,reg_adv_pct,non_diploma_credential_cnt,non_diploma_credential_pct,still_enr_cnt,still_enr_pct,ged_cnt,ged_pct,dropout_cnt,dropout_pct
count,221866.000000,2.218660e+05,1.400360e+05,213702.000000,220768.000000,220768.000000,212746.000000,221866.000000,221866.000000,0.0,...,164640.000000,221866.000000,164640.000000,221866.000000,164640.000000,221866.000000,164640.000000,221866.000000,164640.000000,221866.000000
mean,3.584479,3.481300e+11,3.433553e+11,3.811803,34.881387,0.295876,3424.421818,10.330208,182.998819,NaN,...,141.509937,25.202595,2.477727,0.658474,14.783637,3.287516,2.411674,0.559752,20.570803,5.241146
std,0.590519,1.787150e+11,1.584918e+11,1.949658,17.751779,0.456437,1701.326935,3.761353,2.575816,NaN,...,1684.198842,26.679945,32.969582,2.411464,204.303140,8.637464,29.412536,2.031189,239.311393,8.429060
min,0.000000,0.000000e+00,1.010001e+10,1.000000,1.000000,0.000000,190.000000,6.000000,180.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,2.503010e+11,2.802140e+11,1.000000,25.000000,0.000000,2490.000000,8.000000,181.000000,NaN,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,4.000000,3.313000e+11,3.212000e+11,5.000000,33.000000,0.000000,3090.000000,9.500000,182.500000,NaN,...,17.000000,19.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,3.000000,2.000000
75%,4.000000,4.912000e+11,4.218000e+11,5.000000,49.000000,1.000000,4590.000000,11.000000,184.000000,NaN,...,60.000000,45.000000,1.000000,0.000000,4.000000,3.000000,1.000000,0.000000,8.000000,7.000000
max,4.000000,6.808010e+11,6.808010e+11,7.000000,68.000000,1.000000,6690.000000,18.000000,188.000000,NaN,...,87914.000000,100.000000,2058.000000,57.000000,18132.000000,100.000000,1746.000000,67.000000,15088.000000,100.000000

## 3a. Remove Duplicates

In [39]:
# Remove duplicates
df.drop_duplicates(inplace=True)

It seems no duplicates have been found

## 3b. Missing Values

In [10]:
# Checking for missing values
missing_values=df.isnull().sum()

# Calculate the total number of rows in the DataFrame
total_cells = df.shape[0]

# Calculate the percentage of missing values
percent_missing = (missing_values / total_cells) * 100

# Round the decimal to 2 decimal places
percent_missing = percent_missing.round(2)

# Convert the float type to string
percent_missing = percent_missing.astype(str)

# Add the '%' symbol to each value
percent_missing = percent_missing + '%'

# Combine the two Series into a new DataFrame
missing_value_table = pd.concat([missing_values, percent_missing], axis=1)

# Rename the columns of the DataFrame
missing_value_table.columns = ['Missing Values', 'Percent Missing']

# Sort the resulting DataFrame based on the 'Percent Missing' column in ascending order
missing_value_table.sort_values('Percent Missing', ascending=True, inplace=True)

# Print the resulting table
print(missing_value_table)

                            Missing Values Percent Missing
report_school_year                       0            0.0%
grad_cnt                                 0            0.0%
grad_pct                                 0            0.0%
local_cnt                                0            0.0%
local_pct                                0            0.0%
reg_cnt                                  0            0.0%
reg_pct                                  0            0.0%
enroll_cnt                               0            0.0%
reg_adv_cnt                              0            0.0%
non_diploma_credential_cnt               0            0.0%
non_diploma_credential_pct               0            0.0%
still_enr_cnt                            0            0.0%
still_enr_pct                            0            0.0%
ged_cnt                                  0            0.0%
ged_pct                                  0            0.0%
reg_adv_pct                              0            0.0%
subgroup_name                            0            0.0%
subgroup_code                            0            0.0%
membership_desc                          0            0.0%
aggregation_index                        0            0.0%
aggregation_type                         0            0.0%
aggregation_code                         0            0.0%
aggregation_name                         0            0.0%
dropout_cnt                              0            0.0%
dropout_pct                              0            0.0%
membership_code                          0            0.0%
membership_key                           0            0.0%
county_code                           1098           0.49%
nyc_ind                               1098           0.49%
county_name                           1098           0.49%
nrc_code                              8164           3.68%
nrc_desc                              8164           3.68%
lea_name                             81830          36.88%
lea_beds                             81830          36.88%
boces_code                            9120           4.11%
boces_name                            9120           4.11%

Observations: According to the Description of the dataset document, the lea_beds column has the same info as the aggeration_code colum. It uniquely identifies the entity (school, district, etc.) and may be useful to researchers who want to select or aggregate data for specific entities. I'm going to ignore the missing values and drop this column.

The column Lea_name is also not necessary for this analysis, hence it will be dropped.

nrc_code and nrc_desc has 8164 missing values in each column, which is approximately about 3.6% which is relatively low compared to the overall dataset size. Therefore I will ignore these missing values in the nrc_desc but dropping nrc_code as it's a unwanted column.

county_code, county_name have 1098 missing value in each columnm, which is only about 0.45%. It is relatively low compared to the overall dataset size. Therefore I will ignore these missing values.

boces_code, boces_name has 9120 missing values. I'm not sure if I will need to use these columns so I'm going to   ignore these missing values in the boces_name but dropping boces_code as it's a unwanted column.

## 3c. Dropping unnecessary columns

In [58]:
# Dropping columns from the dataset df
columns_drop= [ 'aggregation_index', 'aggregation_type','aggregation_name', 'boces_name','membership_code','membership_key']
df.drop(columns_drop, axis=1, inplace=True)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221866 entries, 0 to 221865
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   report_school_year          221866 non-null  object
 1   aggregation_code            221866 non-null  float64
 2   lea_beds                    140036 non-null  float64
 3   lea_name                    140036 non-null  object
 4   nrc_code                    213702 non-null  float64
 5   nrc_desc                    213702 non-null  object
 6   county_code                 220768 non-null  float64
 7   county_name                 220768 non-null  object
 8   nyc_ind                     220768 non-null  float64
 9   boces_code                  212746 non-null  float64
 10  membership_desc             221866 non-null  object
 11  subgroup_code               221866 non-null  int64
 12  subgroup_name               221866 non-null  object
 13  enroll_cnt                  221866 non-null  int64
 14  grad_cnt                    221866 non-null  object
 15  grad_pct                    221866 non-null  object
 16  local_cnt                   221866 non-null  object
 17  local_pct                   221866 non-null  object
 18  reg_cnt                     221866 non-null  object
 19  reg_pct                     221866 non-null  object
 20  reg_adv_cnt                 221866 non-null  object
 21  reg_adv_pct                 221866 non-null  object
 22  non_diploma_credential_cnt  221866 non-null  object
 23  non_diploma_credential_pct  221866 non-null  object
 24  still_enr_cnt               221866 non-null  object
 25  still_enr_pct               221866 non-null  object
 26  ged_cnt                     221866 non-null  object
 27  ged_pct                     221866 non-null  object
 28  dropout_cnt                 221866 non-null  object
 29  dropout_pct                 221866 non-null  object
dtypes: float64(6), int64(2), object(22)
memory usage: 50.8+ MB

## 3d. Renaming columns

In [42]:
df.rename(columns={'nrc_desc': 'needs_to_resource_capacity_description',
                   'enroll_cnt': 'enroll_count',
                   'grad_cnt': 'grad_count',
                   'grad_pct': 'grad_percentage',
                   'reg_cnt': 'regents_diploma_count',
                   'reg_pct': 'regents_diploma_percentage',
                   'local_cnt' : 'local_count',
                   'local_pct' : 'local_percentage',
                   'reg_adv_cnt': 'regents_advanced_count',
                   'reg_adv_pct': 'regents_advanced_percentage',
                   'non_diploma_credential_cnt': 'non_diploma_credential_count',
                   'non_diploma_credential_pct': 'non_diploma_credential_percentage',
                   'still_enr_cnt': 'still_enroll_count',
                   'still_enr_pct': 'still_enroll_percentage',
                   'ged_cnt': 'ged_count',
                   'ged_pct': 'ged_percentage',
                   'dropout_cnt': 'dropout_count',
                   'dropout_pct': 'dropout_percentage'}, inplace=True)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221866 entries, 0 to 221865
Data columns (total 30 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   report_school_year                      221866 non-null  object
 1   aggregation_code                        221866 non-null  float64
 2   lea_beds                                140036 non-null  float64
 3   lea_name                                140036 non-null  object
 4   nrc_code                                213702 non-null  float64
 5   needs_to_resource_capacity_description  213702 non-null  object
 6   county_code                             220768 non-null  float64
 7   county_name                             220768 non-null  object
 8   nyc_ind                                 220768 non-null  float64
 9   boces_code                              212746 non-null  float64
 10  membership_desc                         0 non-null       float64
 11  subgroup_code                           221866 non-null  int64
 12  subgroup_name                           221866 non-null  object
 13  enroll_count                            221866 non-null  int64
 14  grad_count                              164640 non-null  float64
 15  grad_percentage                         221866 non-null  float64
 16  local_count                             164640 non-null  float64
 17  local_percentage                        221866 non-null  float64
 18  regents_diploma_count                   164640 non-null  float64
 19  regents_diploma_percentage              221866 non-null  float64
 20  regents_advanced_count                  164640 non-null  float64
 21  regents_advanced_percentage             221866 non-null  float64
 22  non_diploma_credential_count            164640 non-null  float64
 23  non_diploma_credential_percentage       221866 non-null  float64
 24  still_enroll_count                      164640 non-null  float64
 25  still_enroll_percentage                 221866 non-null  float64
 26  ged_count                               164640 non-null  float64
 27  ged_percentage                          221866 non-null  float64
 28  dropout_count                           164640 non-null  float64
 29  dropout_percentage                      221866 non-null  float64
dtypes: float64(23), int64(2), object(5)
memory usage: 52.5+ MB

## 3e. Convert Datatypes

In [44]:
df['aggregation_code'] = df['aggregation_code'].astype('str')
df['county_code'] = df['county_code'].astype('str')
df['subgroup_code'] = df['subgroup_code'].astype('str')

There is no need to calculate statistics for these columns above as they don’t represent real numeric values, rather, keys related to specific item. The functions above changes the data type from a number to a string (which the describe() function will ignore when calculating descriptive statistics).

In [45]:
df.describe()

,lea_beds,nrc_code,nyc_ind,boces_code,membership_desc,enroll_count,grad_count,grad_percentage,local_count,local_percentage,...,regents_advanced_count,regents_advanced_percentage,non_diploma_credential_count,non_diploma_credential_percentage,still_enroll_count,still_enroll_percentage,ged_count,ged_percentage,dropout_count,dropout_percentage
count,1.400360e+05,213702.000000,220768.000000,212746.000000,0.0,221866.000000,164640.000000,221866.000000,164640.000000,221866.000000,...,164640.000000,221866.000000,164640.000000,221866.000000,164640.000000,221866.000000,164640.000000,221866.000000,164640.000000,221866.000000
mean,3.433553e+11,3.811803,0.295876,3424.421818,NaN,273.466146,301.897911,64.413669,5.609196,2.019746,...,141.509937,25.202595,2.477727,0.658474,14.783637,3.287516,2.411674,0.559752,20.570803,5.241146
std,1.584918e+11,1.949658,0.456437,1701.326935,NaN,3410.182248,3475.326092,40.215079,76.960836,6.132939,...,1684.198842,26.679945,32.969582,2.411464,204.303140,8.637464,29.412536,2.031189,239.311393,8.429060
min,1.010001e+10,1.000000,0.000000,190.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.802140e+11,1.000000,0.000000,2490.000000,NaN,11.000000,23.000000,0.000000,0.000000,0.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,3.212000e+11,5.000000,0.000000,3090.000000,NaN,50.000000,58.000000,86.000000,0.000000,0.000000,...,17.000000,19.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,3.000000,2.000000
75%,4.218000e+11,5.000000,1.000000,4590.000000,NaN,121.000000,132.000000,95.000000,2.000000,1.000000,...,60.000000,45.000000,1.000000,0.000000,4.000000,3.000000,1.000000,0.000000,8.000000,7.000000
max,6.808010e+11,7.000000,1.000000,6690.000000,NaN,207157.000000,183605.000000,100.000000,6221.000000,100.000000,...,87914.000000,100.000000,2058.000000,57.000000,18132.000000,100.000000,1746.000000,67.000000,15088.000000,100.000000

This means those columns above have been changed to string, that's why we dont see them in the descriptive statiistics.

In [48]:
# Change the way the counties name displayed to make them be consistent 
df['county_name'] = df['county_name'].str.title()

# 04. Export Data

In [49]:
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'grad_rate_22_wrangled_1.csv'))

In [50]:
# Check for data's columns and rows after quality checked
num_rows, num_columns = df.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 221866
Number of columns: 30